<footer>
    <div class="row footer-main">
        <div class="col-six tab-full left footer-desc">
            <div class="footer-logo"></div> MEET&GATHER EVENT CENTER Premium Event Space Rental Services Located in Greensboro, NC
        </div>
        <div class="col-six tab-full right footer-subscribe">
            <h4>Get Notified</h4>
            <p>Subscribe to our newsletter to receive information for upcoming events that are open to the public, pricing discount coupons and social media contests </p>
            <div class="subscribe-form">
                <form id="mc-form" class="group" novalidate="true"> <input type="email" value name="EMAIL"
                        class="email" id="mc-email" placeholder="Email Address" required> <input type="submit"
                        name="subscribe" value="Subscribe"> <label for="mc-email" class="subscribe-message"></label>
                </form>
            </div>
        </div>
    </div>
    <div class="row footer-bottom">
        <div class="col-twelve">
            <div class="copyright"> <span>© Copyright Glint 2022</span> <span>Site Template by <a
                        href="https://colorlib.com/" target="_blank" rel="nofollow noopener">Colorlib</a></span>
            </div>
            <div class="go-top"> <a class="smoothscroll" title="Back to Top" href="#top"><i class="icon-arrow-up"
                        aria-hidden="true"></i></a></div>
        </div>
    </div>
</footer>
