
<header class="header is-sticky-inverse is-sticky-bg-o-0 position-absolute" data-spy="scroll" data-scroll="sticky" data-sticky-hide="true" data-switch-class="shadow-none|shadow">
    <nav class="navbar navbar-light navbar-default">
      <div class="container-xl justify-content-start">
        <a class="navbar-brand d-flex position-relative mb-1" href="http://html.coolorize.com/discoverize/"><img src="/static/img/logo-light.png" class="navbar-brand-img-dark" alt="Discoverize" /><img src="/static/img/logo-dark.png" class="navbar-brand-img-light" alt="Discoverize" /></a>
  
       <!-- <div class="ms-auto ps-3 navbar-end d-flex flex-row justify-content-end">
          <button class="btn btn-link p-0 ms-3 shadow-none" data-bs-toggle="modal" data-bs-target="#searchModal"><i class="fas fa-search"></i></button>
  
          <button class="btn btn-link p-0 ms-3 shadow-none" data-bs-toggle="modal" data-bs-target="#userSignInModal"><i class="fas fa-user"></i></button>
  
          <button class="btn-close btn-close-menu collapsed ms-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMenu" aria-controls="navbarMenu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="btn-close-icon"></span>
          </button>
        </div> -->
  
        <div class="collapse navbar-collapse" id="navbarMenu">
          <div class="mt-4 d-lg-none"></div>
  
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item nav-dropdown dropdown dropdown-hover">
              <a class="nav-link " href="" id="navbarHome" role="button" >Home</a>
             <!-- <ul class="nav-dropdown-menu dropdown-menu shadow">
                <li class="nav-dropdown dropdown dropdown-hover">
                  <a class="dropdown-item dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Listing Home 1</a>
                  <ul class="nav-dropdown-menu dropdown-menu shadow">
                    <li><a class="dropdown-item" href="home-1.html">Listing Home 1</a></li>
  
                    <li><a class="dropdown-item" href="home-1-fullwindow-hero.html">Listing Home 1 - Hero 2</a></li>
  
                    <li><a class="dropdown-item" href="home-1-fullwindow-hero-2.html">Listing Home 1 - Hero 2</a></li>
                  </ul>
                </li>
  
                <li><a class="dropdown-item" href="home-2.html">Listing Home 2</a></li>
  
                <li><a class="dropdown-item" href="home-3.html">Listing Home 3</a></li>
  
                <li><a class="dropdown-item active" href="home-4.html">Listing Home 4</a></li>
  
                <li><a class="dropdown-item" href="home-5.html">Listing Home 5</a></li>
  
                <li><a class="dropdown-item" href="home-6.html">Listing Home 6</a></li>
              </ul>-->
            </li>
  
            <li class="nav-item nav-dropdown dropdown dropdown-hover">
              <a class="nav-link dropdown-toggle" href="#" id="navbarListing" role="button" data-bs-toggle="dropdown">Listing</a>
              <ul class="nav-dropdown-menu dropdown-menu shadow">
                <li><span class="dropdown-header text-uppercase fw-bold">Listing</span></li>
  
                <li><a class="dropdown-item" href="listing-1.html">Grid - Search Modal</a></li>
  
                <li><a class="dropdown-item" href="listing-2.html">Grid - Search Modal 2</a></li>
  
                <li><a class="dropdown-item" href="listing-search-header.html">Grid - Header Search</a></li>
  
                <li><a class="dropdown-item" href="listing-search-top-1.html">Grid - Top Search</a></li>
  
                <li><a class="dropdown-item" href="listing-search-top-2.html">Grid - Top Search 2</a></li>
  
                <li><a class="dropdown-item" href="listing-search-sidebar.html">Grid - Sidebar Search</a></li>
  
                <li><hr class="dropdown-divider" /></li>
  
                <li><span class="dropdown-header text-uppercase fw-bold">Listing with Map</span></li>
  
                <li><a class="dropdown-item" href="listing-map-top-1.html">Grid - Top Map 1</a></li>
  
                <li><a class="dropdown-item" href="listing-map-top-2.html">Grid - Top Map 2</a></li>
  
                <li><a class="dropdown-item" href="listing-map-left-1.html">Grid - Left Map</a></li>
  
                <li><a class="dropdown-item" href="listing-map-right-1.html">Grid - Right Map</a></li>
              </ul>
            </li>
  
            <li class="nav-item nav-dropdown dropdown dropdown-hover dropdown__mega">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Templates</a>
  
              <div class="nav-dropdown-menu dropdown-menu shadow" data-bs-popper="none">
                <div class="container-xl position-relative px-0">
                  <div class="row">
                    <div class="col-12 col-lg-9 py-lg-5">
                      <div class="row">
                        <div class="col-12 col-lg-3">
                          <ul class="list-unstyled mb-3">
                            <li class="d-lg-none"><hr class="dropdown-divider" /></li>
  
                            <li><span class="dropdown-header text-uppercase fw-bold">Listing Home</span></li>
                            <li><a href="../default/home-1.html" class="dropdown-item">Listing Home 1</a></li>
                            <li><a href="../default/home-1-fullwindow-hero.html" class="dropdown-item">Listing Home 1 - Hero 2</a></li>
                            <li><a href="../default/home-1-fullwindow-hero-2.html" class="dropdown-item">Listing Home 1 - Hero 2</a></li>
                            <li><a href="../default/home-2.html" class="dropdown-item">Listing Home 2</a></li>
                            <li><a href="../default/home-3.html" class="dropdown-item">Listing Home 3</a></li>
                            <li><a href="../default/home-4.html" class="dropdown-item active">Listing Home 4</a></li>
                            <li><a href="../default/home-5.html" class="dropdown-item">Listing Home 5</a></li>
                            <li><a href="../default/home-6.html" class="dropdown-item">Listing Home 6</a></li>
                          </ul>
  
                          <ul class="list-unstyled mb-3">
                            <li class="d-lg-none"><hr class="dropdown-divider" /></li>
  
                            <li><span class="dropdown-header text-uppercase fw-bold">Services Page</span></li>
                            <li><a href="../default/page-sell-1.html" class="dropdown-item">Sell Page 1</a></li>
                            <li><a href="../default/page-sell-to-us-1.html" class="dropdown-item">Sell to Us Page 1</a></li>
                            <li><a href="../default/page-list-with-us-1.html" class="dropdown-item">List with Us Page 1</a></li>
                          </ul>
                        </div>
                        <!-- /.col-12 col-lg-3 -->
  
                        <div class="col-12 col-lg-3">
                          <ul class="list-unstyled mb-3">
                            <li class="d-lg-none"><hr class="dropdown-divider" /></li>
  
                            <li><span class="dropdown-header text-uppercase fw-bold">Listing</span></li>
                            <li><a href="../default/listing-1.html" class="dropdown-item">Grid - Search Modal</a></li>
                            <li><a href="../default/listing-2.html" class="dropdown-item">Grid - Search Modal 2</a></li>
                            <li><a href="../default/listing-search-header.html" class="dropdown-item">Grid - Header Search</a></li>
                            <li><a href="../default/listing-search-top-1.html" class="dropdown-item">Grid - Top Search</a></li>
                            <li><a href="../default/listing-search-top-2.html" class="dropdown-item">Grid - Top Search 2</a></li>
                            <li><a href="../default/listing-search-sidebar.html" class="dropdown-item">Grid - Sidebar Search</a></li>
                          </ul>
  
                          <ul class="list-unstyled mb-3">
                            <li class="d-lg-none"><hr class="dropdown-divider" /></li>
  
                            <li><span class="dropdown-header text-uppercase fw-bold">Listing with Map</span></li>
                            <li><a href="../default/listing-map-top-1.html" class="dropdown-item">Grid - Top Map 1</a></li>
                            <li><a href="../default/listing-map-top-2.html" class="dropdown-item">Grid - Top Map 2</a></li>
                            <li><a href="../default/listing-map-left-1.html" class="dropdown-item">Grid - Left Map</a></li>
                            <li><a href="../default/listing-map-right-1.html" class="dropdown-item">Grid - Right Map</a></li>
                          </ul>
                        </div>
                        <!-- /.col-12 col-lg-3 -->
  
                        <div class="col-12 col-lg-3">
                          <ul class="list-unstyled mb-3">
                            <li class="d-lg-none"><hr class="dropdown-divider" /></li>
  
                            <li><span class="dropdown-header text-uppercase fw-bold">Listing Detail</span></li>
                            <li><a href="../default/listing-detail-1.html" class="dropdown-item">Listing Detail 1</a></li>
                            <li><a href="../default/listing-detail-2.html" class="dropdown-item">Listing Detail 2</a></li>
                            <li><a href="../default/listing-detail-3.html" class="dropdown-item">Listing Detail 3</a></li>
                            <li><a href="../default/listing-detail-4.html" class="dropdown-item">Listing Detail 4</a></li>
                            <li><a href="../default/listing-detail-5.html" class="dropdown-item">Listing Detail 5</a></li>
                          </ul>
  
                          <ul class="list-unstyled mb-3">
                            <li class="d-lg-none"><hr class="dropdown-divider" /></li>
  
                            <li><span class="dropdown-header text-uppercase fw-bold">Misc Pages</span></li>
                            <li><a href="../default/page-subscribe-1.html" class="dropdown-item">Subscribe 1</a></li>
                            <li><a href="../default/page-subscribe-2.html" class="dropdown-item">Subscribe 2</a></li>
                            <li><a href="../default/page-plans-and-pricing-1.html" class="dropdown-item">Plans And Pricing 1</a></li>
                            <li><a href="../default/page-plans-and-pricing-2.html" class="dropdown-item">Plans And Pricing 2</a></li>
                          </ul>
                        </div>
                        <!-- /.col-12 col-lg-3 -->
  
                        <div class="col-12 col-lg-3">
                          <ul class="list-unstyled mb-3">
                            <li class="d-lg-none"><hr class="dropdown-divider" /></li>
  
                            <li><span class="dropdown-header text-uppercase fw-bold">Collection</span></li>
                            <li><a href="../default/blog-1.html" class="dropdown-item">Blog / News 1</a></li>
                            <li><a href="../default/blog-2.html" class="dropdown-item">Blog / News 2</a></li>
                            <li><a href="../default/blog-post-1.html" class="dropdown-item">Post Detail 1</a></li>
                            <li><a href="../default/cities-1.html" class="dropdown-item">Cities 1</a></li>
                            <li><a href="../default/cities-2.html" class="dropdown-item">Cities 2</a></li>
                            <li><a href="../default/testimonials-1.html" class="dropdown-item">Testimonial 1</a></li>
                            <li><a href="../default/testimonials-2.html" class="dropdown-item">Testimonial 2</a></li>
                          </ul>
  
                          <ul class="list-unstyled mb-3">
                            <li><span class="dropdown-header text-uppercase fw-bold">Colorschemes</span></li>
                            <li><a href="../default/home-4.html" class="dropdown-item active">Default</a></li>
                            <li><a href="../classic/home-4.html" class="dropdown-item">Classic</a></li>
                            <li><a href="../minimal/home-4.html" class="dropdown-item">Minimal</a></li>
                          </ul>
                        </div>
                        <!-- /.col-12 col-lg-3 -->
                      </div>
                      <!-- /.row -->
                    </div>
                    <!-- /.col-12 col-lg-9 -->
  
                    <div class="col-12 col-lg-3 my-lg-n2">
                      <div class="expand-w h-100 bg-dark position-relative">
                        <div class="bg bg-img position-absolute" data-bg-img=".img">
                          <img src="http://assets.coolorize.com/homes/5-3/xl/pexels-ketut-subiyanto-4246220.jpg" class="img" alt="Image" />
                          <div class="overlay bg-dark position-absolute o-25"></div>
                        </div>
                        <!-- /.bg bg-img position-absolute -->
                      </div>
                    </div>
                    <!-- /.d-none-d-lg-block col-lg-3 -->
                  </div>
                  <!-- /.row -->
                </div>
              </div>
            </li>
  
            <li class="nav-item nav-dropdown dropdown dropdown-hover">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDocs" role="button" data-bs-toggle="dropdown">Docs</a>
              <ul class="nav-dropdown-menu dropdown-menu dropdown-menu-end shadow" data-bs-popper>
                <li>
                  <span class="dropdown-header text-uppercase fw-bold">Documentations</span>
                </li>
  
                <li><a class="dropdown-item" href="../docs/index.html">Introduction</a></li>
  
                <li><a class="dropdown-item" href="../docs/tooling-setup.html">Tooling Setup</a></li>
  
                <li>
                  <hr class="dropdown-divider" />
                </li>
  
                <li>
                  <span class="dropdown-header text-uppercase fw-bold">SCSS / CSS</span>
                </li>
  
                <li><a class="dropdown-item" href="../docs/scss-file-structure.html">SCSS File Structure</a></li>
  
                <li><a class="dropdown-item" href="../docs/scss-customizing.html">Customizing</a></li>
  
                <li>
                  <hr class="dropdown-divider" />
                </li>
  
                <li>
                  <span class="dropdown-header text-uppercase fw-bold">HTML</span>
                </li>
  
                <li><a class="dropdown-item" href="../docs/html.html">Base / Starter HTML</a></li>
  
                <li><a class="dropdown-item" href="../docs/html-header.html">Header HTML</a></li>
  
                <li><a class="dropdown-item" href="../docs/html-nav.html">Nav HTML</a></li>
  
                <li><a class="dropdown-item" href="../docs/html-section.html">Section HTML</a></li>
              </ul>
            </li>
          </ul>
          <!-- /.navbar-nav -->
        </div>
        <!-- /.collapse navbar-collapse -->
      </div>
      <!-- /.container-fluid -->
    </nav>
  
    <div class="bg header-bg position-absolute trans-base"></div>
  </header>