<header class="s-header">
  <div class="header-logo"> <a class="site-logo" href="/"> <img src="/static/img/logo/logo-try4.png" alt="Meet&amp;Gather Event Center Greensboro NC" style="
        max-width: inherit !important;
    ">

    </a></div>
  <nav class="header-nav"><a href="#0" class="header-nav__close" title="close"><span>Close</span></a>
    <div class="header-nav__content">
      <h3>Navigation</h3>
      <ul class="header-nav__list">
        <li class=""><a class="" href="/" title="home">Home</a></li>
        <li><a class="" href="/bookings" title="about">Bookings</a></li>
        <li><a class="" href="/openhouse-tour" title="works">Open House/Tour</a></li>
        <li><a class="" href="/events" title="services">Events</a></li>
        <!-- <li><a class="" href="#clients" title="clients">FAQ</a></li> -->
        <li><a class="" href="/gallery" title="gallery">Gallery</a></li>
        <li><a class="" href="/contact" title="contact">Contact</a></li>
        <li><a class="" href="/about" title="clients">About Us</a></li>

      </ul>
      <!-- <p>Perspiciatis hic praesentium nesciunt. Et neque a dolorum <a href="#0">voluptatem</a> porro iusto
                sequi veritatis libero enim. Iusto id suscipit veritatis neque reprehenderit.</p>-->
      <p>MEET&GATHER EVENT CENTER Premium Event Space Rental Services Located in Greensboro, NC.</p>
      
      <ul class="header-nav__social">
        <li> <a href="#"><i class="fa fa-facebook"></i></a></li>
        <li> <a href="#"><i class="fa fa-twitter"></i></a></li>
        <li> <a href="#"><i class="fa fa-instagram"></i></a></li>
        <li> <a href="#"><i class="fa fa-behance"></i></a></li>
        <li> <a href="#"><i class="fa fa-dribbble"></i></a></li>
      </ul>
    </div>
  </nav><a class="header-menu-toggle" href="#0"> <span class="header-menu-text">Menu</span> <span class="header-menu-icon"></span> </a>
</header>
