{% extends "homebase.html" %}
{% block seo %}
<!-- SEO Core -->
<title>Event Venue Booking Request Form, Event Space Rental Services in Greensboro, NC | Meet&Gather Event Center</title>
<meta name=”description”
    content="Host your next event in Greensboro, NC with us. Our space includes a large screen TV, projector, surround sound system, 200 chairs and tables and ample parking. Our venue can hold up to 200 guests. 336-560-7778">
<meta name=”keywords” content='Event, Space, Venue, Greensboro, NC, North Carolina'> <!-- OpenGraph Dynamic -->
<link rel="canonical" href="http:///">
<meta property="og:title"
    content="Event Venue Booking Request Form, Event Space Rental Services in Greensboro, NC | Meet&Gather Event Center" />
<meta property="og:description"
    content="Host your next event in Greensboro, NC with us. Our space includes a large screen TV, projector, surround sound system, 200 chairs and tables and ample parking. Our venue can hold up to 200 guests. 336-560-7778"/>
<meta property="og:url" content="http://" /> <!-- Twitter Dynamic -->
<meta name="twitter:title"
    content="Event Venue Booking Request Form, Event Space Rental Services in Greensboro, NC | Meet&Gather Event Center">
<meta name="twitter:description"
    content="Host your next event in Greensboro, NC with us. Our space includes a large screen TV, projector, surround sound system, 200 chairs and tables and ample parking. Our venue can hold up to 200 guests. 336-560-7778">
{% endblock seo %}

{% block content %}
<section id="pricing" class="s-pricing target-section">
  <div class="row section-header narrower align-center aos-init aos-animate" data-aos="fade-up">
    <div class="col-full">
      <h1 class="display-1">
        Booking made simple.
      </h1>
      <p> </p>
      <p class="lead">
        Thank you for considering us a your chose of venue to host your upcoming event. Please fill out the form below to initiate the process for booking your event with us. A representative will be back in contact with you with-in 24 hours to follow up about your request. </p>
      <p class="lead">Once you have spoken with our sales representative you will be emailed an official agreement/contract to use the space and payment options. If you have any other questions please contact us at 336.560.7778 or email us at meet.gatherevents@gmail.com
      </p>
    </div>
  </div>
  <div class="row">
    <!-- BEGIN Podio web form -->
    <script src="https://podio.com/webforms/29746771/2461147.js"></script>
    <script type="text/javascript">
      _podioWebForm.render("2461147")

    </script>
    <noscript>
      <a href="https://podio.com/webforms/29746771/2461147" target="_blank">Please fill out the form</a>
    </noscript>
    <div class="podio-webform-container">
    </div>
    <!-- END Podio web form -->
  </div>
</section>
{% endblock content %}
