{% extends "homebase.html" %}

{% block seo %}
<!-- SEO Core -->
<title> Event Venue Hosting, Event Space Rental Services in Greensboro, NC | Meet&Gather Event Center</title>
<meta name=”description”
    content="Host your next event in Greensboro, NC with us. Our space includes a large screen TV, projector, surround sound system, 200 chairs and tables and ample parking. Our venue can hold up to 200 guests. 336-560-7778">
<meta name=”keywords” content='Event, Space, Venue, Greensboro, NC, North Carolina'> <!-- OpenGraph Dynamic -->
<link rel="canonical" href="http:///">
<meta property="og:title"
    content="Event Venue Hosting, Event Space Rental Services in Greensboro, NC | Meet&Gather Event Center" />
<meta property="og:description"
    content="Host your next event in Greensboro, NC with us. Our space includes a large screen TV, projector, surround sound system, 200 chairs and tables and ample parking. Our venue can hold up to 200 guests. 336-560-7778"/>
<meta property="og:url" content="http://" /> <!-- Twitter Dynamic -->
<meta name="twitter:title"
    content="Event Venue Hosting, Event Space Rental Services in Greensboro, NC | Meet&Gather Event Center">
<meta name="twitter:description"
    content="Host your next event in Greensboro, NC with us. Our space includes a large screen TV, projector, surround sound system, 200 chairs and tables and ample parking. Our venue can hold up to 200 guests. 336-560-7778">
{% endblock seo %}

{% block content %}

{% include 'parts/contact-widget.html' %}

{% endblock content %}