{% extends "homebase.html" %}

{% block content %}

<section id="page-hero" class="section section__inverse justify-content-center py-5 py-lg-6 vh-50 h-lg-480px min-h-330px">
    <div class="bg bg-img position-absolute" data-bg-img=".img">
      <img src="http://assets.coolorize.com/homes/5-3/full/david-dvoracek-DE7anM1P4so-unsplash--scaleddown.jpg" class="img" alt="Image" />

      <div class="overlay bg-dark position-absolute o-50"></div>
    </div>
    <!-- /.bg bg-img position-absolute -->

    <div class="container-xl position-relative section-content text-center py-4">
      <h2 class="display-5 text-white mt-3 mt-lg-4">500 Page Error</h2>
<!-- 
      <p class="lead">
        <span>By</span>
        <a href="#" class="fw-bold">M. K. Soni</a>
        <span>in</span>
        <a href="#" class="fw-bold">News</a>
      </p> -->
      <!-- /.lead -->
    </div>
    <!-- /.container-xl position-relative -->
  </section>
  <!-- #page-hero.section section__inverse justify-content-center py-5 py-lg-6 vh-50 h-lg-480px min-h-330px -->


{% endblock content %}