<!-- Homepage intro/about widget -->
<section id="about" class="s-about">
    <div class="row section-header has-bottom-sep" data-aos="fade-up">
        <div class="col-full">
            <h3 class="subhead subhead--dark">Hello There, we are </h3> <br> <img src="/static/img/logo/logo-try7.png"
                alt="Homepage">
        </div>
    </div>
    <div class="row about-desc" data-aos="fade-up">
        <div class="col-full">
            <!-- <p> Located within the State Street Station in Old Irving Park in Greensboro North Carolina MEET&GATHER
                Event Center provides a perfect space to host your next event. Host your wedding receptions, social
                soirees, corporate events, baby showers, prom send offs, family/birthday parties and much more with us.</p> -->
            
            <p> Coming soon to Greensboro North Carolina MEET&GATHER
                Event Center provides a perfect space to host your next event. Host your wedding receptions, social
                soirees, corporate events, baby showers, prom send offs, family/birthday parties and much more with us.</p>
            <p>We offer professional event space services, our space will include a large screen TV, projector, surround
                sound system, 200 chairs and tables and ample parking. Our venue can hold up to 200 guests. </p>
            <p> Please check <a href="/events" style="color: white;">the events page</a> for a list of ideas for the type of events you could host in our space. For more information about visiting and touring our space please go to our  <a href="/openhouse-tour" style="color: white;">open house/tour page.</a> </p>
            <p>For more information about how to book your event please see our <a href="/bookings" style="color: white;">bookings page.</a></p>
            
            <!-- can help you coordinate your next big event decorating our floor plan floor plans, food, beverages, equipment and specialty rentals to create a seamless planning experience. We look forward to hosting you! Serviced by Pepper Moon Catering, one of the Triad’s most trusted catering partners.-->
            </p>
        </div>
    </div>
    <!-- <div class="row about-stats stats block-1-4 block-m-1-2 block-mob-full" data-aos="fade-up"> <div class="col-block stats__col "> <div class="stats__count">127</div> <h5>Awards Received</h5> </div> <div class="col-block stats__col"> <div class="stats__count">1505</div> <h5>Cups of Coffee</h5> </div> <div class="col-block stats__col"> <div class="stats__count">109</div> <h5>Projects Completed</h5> </div> <div class="col-block stats__col"> <div class="stats__count">102</div> <h5>Happy Clients</h5> </div> </div> -->
    <div class="about__line"></div>
</section> 
<!-- Homepage intro/about widget -->