<section id="contact" class="s-contact">
    <div class="overlay"></div>
    <div class="row section-header" data-aos="fade-up">
        <div class="col-full">
            <h3 class="subhead">Contact Us</h3>
            <p class="display-2 display-2--light">Reach out to us for your next event</p>
        </div>
    </div>
    <div class="row contact-content" data-aos="fade-up">
        <div class="contact-primary">
            <h3 class="h6">Send Us A Message</h3>
            <!-- BEGIN Podio web form -->
<script src="https://podio.com/webforms/29753625/2462232.js"></script>
<script type="text/javascript">
  _podioWebForm.render("2462232")
</script>
<noscript>
  <a href="https://podio.com/webforms/29753625/2462232" target="_blank">Please fill out the form</a>
</noscript>

<!-- END Podio web form -->

        </div>
        <div class="contact-secondary">
            <div class="contact-info">
                <h3 class="h6 hide-on-fullwidth">Contact Info</h3>
                <div class="cinfo">
                    <h5>Where to Find Us</h5>
                    <p> <!--1600 Amphitheatre Parkway --><br> Greensboro, NC<br> <!-- 94043 US --> </p>
                </div>
                <div class="cinfo">
                    <h5>Email Us At</h5>
                    <p> <a href="/cdn-cgi/l/email-protection" class="__cf_email__"
                            data-cfemail="680b07061c090b1c280f0401061c1b011c0d460b0705">meet.gatherevents@gmail.com</a><br>
                      
                    </p>
                </div>
                <div class="cinfo">
                    <h5>Call Us At</h5>
                    <p> Phone: ‪(336) 560-7778<!--<br> Mobile: (+63) 555 0100<br> Fax: (+63) 555 0101--></p>
                </div>
                <ul class="contact-social">
                    <li> <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    <li> <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    <li> <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                    <li> <a href="#"><i class="fa fa-behance" aria-hidden="true"></i></a></li>
                    <li> <a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</section>