<!-- Services -->
<section id="services" class="s-services">
    <div class="row section-header has-bottom-sep" data-aos="fade-up">
        <div class="col-full">
            <h3 class="subhead">What We Do</h3>
            <p class="display-2">We’ve got everything you need to host your next event</p>
        </div>
    </div>
    <div class="row services-list block-1-2 block-tab-full">
        <div class="col-block service-item" data-aos="fade-up">
            <div class="service-icon"> <i class="icon-paint-brush"></i></div>
            <div class="service-text">
                <h3 class="h2">Wedding Receptions</h3>
                <p>Our space can be the perfect setting for wedding receptions with 200 guests or less. Are space is also ideal for wedding rehearsal receptions, and bridal showers.</p>
            </div>
        </div>
        <div class="col-block service-item" data-aos="fade-up">
            <div class="service-icon"> <i class="icon-group"></i></div>
            <div class="service-text">
                <h3 class="h2">Baby Showers</h3>
                <p>Welcome your new bundle of joy into the world at Meet&Gather Event Center. Our space is ideal to group family and friends for baby showers. </p>
            </div>
        </div>
        <div class="col-block service-item" data-aos="fade-up">
            <div class="service-icon"> <i class="icon-megaphone"></i></div>
            <div class="service-text">
                <h3 class="h2">Social Soirees</h3>
                <p>Host your next social party here! Anniversaries, themed parties, and fundraisers are just a few of the different social parties you can ho our space.  

Yours is next!</p>
            </div>
        </div>
        <div class="col-block service-item" data-aos="fade-up">
            <div class="service-icon"> <i class="icon-earth"></i></div>
            <div class="service-text">
                <h3 class="h2">Corporate Events</h3>
                <p> Meet&Gather has been home to pop-ups, corporate meals and meetings, trainings, fundraisers, and more. If you are looking for an affordable and personal place to host your next corporate event, we are perfect for you!</p>
            </div>
        </div>
        <div class="col-block service-item" data-aos="fade-up">
            <div class="service-icon"> <i class="icon-cube"></i></div>
            <div class="service-text">
                <h3 class="h2">Prom Send Offs</h3>
                <p>Send your prom attendees off in style with a prom send off party hosted at our event space. This is a great way to start the evenning including friends, family, community and plenty of picture taking.</p>
            </div>
        </div>
        <div class="col-block service-item" data-aos="fade-up">
            <div class="service-icon"><i class="icon-lego-block"></i></div>
            <div class="service-text">
                <h3 class="h2">Birthday and Family Parties</h3>
                <p>No matter how old you are, Meet&Gather is perfect to celebrate another year of YOU! Sweet 16s and Quinceañeras. Themed parties,  
from disco to the beat of the 90s and everything in between, we will help you host a perfectly themed birthday event. Wedding anniversary and retirement parties also would be great to host in our space.</p>
            </div>
        </div>
    </div>
     <div class="row section-header has-bottom-sep" data-aos="fade-up">
        <div class="col-full">
            <h3 class="subhead"> <a href="/events" style="">See list of more events that would be great to host in our space</a></h3>
        </div>
    </div>
</section>
<!-- Services -->
